In [1]:
print("Hello, World!")

Hello, World!

In [3]:
# Is leap year or not?

year = int(input())

if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(True)
else:
    print(False)

False

In [4]:
# input n=int and print 123....n
n = int(input())

for i in range(1, n+1):
    print(i, end="")

12345

In [6]:
a = int(input())
b = int(input())

print(a//b)
print(a%b)
print(divmod(a, b))

17
7
(17, 7)

In [7]:
# You are given three integers: a, b, and m. Print two lines.
# On the first line, print the result of pow(a,b). On the second line, print the result of pow(a,b,m).

a = int(input())
b = int(input())
m = int(input())

print(pow(a, b))
print(pow(a, b, m))

81
1

In [8]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

print(a**b + c**d)

4710194409608608369201743232

In [9]:
for i in range(1, int(input())):
    print(str(i)*i)

1
22
333
4444

In [10]:
for i in range(1, int(input())):
    print(f"{i}"*i)

1
22
333
4444

In [13]:
for i in range(1, int(input())):
    print (i * int(bin(2**i - 1)[2:]))

1
22
333
4444

In [14]:
import re

string = input()
substring = input()
pattern = re.compile(substring)
match = pattern.search(string)
if not match: print('(-1, -1)')
while match:
    print('({0}, {1})'.format(match.start(), match.end() - 1))
    match = pattern.search(string, match.start() + 1)

In [29]:
#Given an integer, n, perform the following conditional actions:
#If n is odd, print Weird
#If n is even and in the inclusive range of 2 to 5, print Not Weird
#If n is even and in the inclusive range of 6 to 20, print Weird
#If n is even and greater than 20, print Not Weird

n = int(input())

if n % 2 == 1:
    print("Weird")
else:
    if 2 <= n <= 5:
        print("Not Weird")
    elif 6 <= n <= 20:
        print("Weird")
    else:
        print("Not Weird")

Not Weird

In [31]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

out = [[i, j, k] for i in range(0, x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]
print(out)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [4]:
txt = " Hello World "

x = txt.strip()

print(txt)
print(x)

 Hello World
Hello World

In [6]:
print(bool("abc"))

True

In [8]:
print(bool(0))

False

In [10]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])
print(mylist)

mango
['apple', 'kiwi', 'mango', 'cherry']

In [11]:
mylist.insert(0, 'orange')

print(mylist)

['orange', 'apple', 'kiwi', 'mango', 'cherry']

In [13]:
mylist.append("orange")
print(mylist)

['orange', 'apple', 'kiwi', 'mango', 'cherry', 'orange']

In [15]:
mylist.insert(1, "orange")
print(mylist)

['orange', 'orange', 'orange', 'apple', 'kiwi', 'mango', 'cherry', 'orange']

In [16]:
i = 0

while i < len(mylist):
    print(mylist[i])
    i = i + 1

orange
orange
orange
apple
kiwi
mango
cherry
orange

In [24]:
for i in mylist:
    print(i)

orange
orange
orange
apple
kiwi
mango
cherry
orange

In [25]:
[print(x) for x in ['apple', 'banana', 'cherry']]

apple
banana
cherry

[None, None, None]

In [27]:
fruits = ['apple', 'banana', 'cherry']

newlist = [x for x in fruits if x == 'banana']

print(newlist)

['banana']

In [28]:
newlist1 = [x for x in fruits]

print(newlist1)

['apple', 'banana', 'cherry']

In [127]:
newlist2 = ['apple' for x in fruits]
print(newlist2)

['apple', 'apple', 'apple']

In [129]:
fruits = ('apple', 'banana', 'cherry')
(x, *y) = fruits
print(y)

['banana', 'cherry']

In [132]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [135]:
tuple1 = (1, 2, 3)
tuple1 = tuple1 * 2

print(tuple1)

(1, 2, 3, 1, 2, 3)

In [138]:
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)

tuple3 = tuple2 + tuple1

print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [145]:
fruits_set = {'banana', 'mango', 'apple'}

if 'banana' in fruits_set:
    print("banana is available")

banana is available

In [150]:
thisset = {'apple', 'banana', 'cherry'}

print('banana' not in thisset)

False

In [152]:
thisset.add(222)

print(thisset)

{'apple', 'banana', 'cherry', 222}

In [155]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

print(fruits)

{'apple', 'orange', 'banana', 'grapes', 'cherry', 'mango'}

In [157]:
for i in fruits:
    print(i)

apple
orange
banana
grapes
cherry
mango

In [160]:
set11 = {1, 2, 3}
set12 = {4, 5, 6}
set13 = {7, 8, 9}

set14 = set11 | set12 | set13

print(set14)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [163]:
x = {'type' : 'fruit', 'name' : 'banana'}

x.update({'name':'apple'})

x

{'type': 'fruit', 'name': 'apple'}

In [165]:
for y in x.values():
    print(y)

fruit
apple

In [171]:
for y, z in x.items():
    print(y, z)

type fruit
name apple

In [176]:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}

for x, obj in customers.items():
  print(x)
    
  for y in obj:
    print(y + ':', obj[y])

c1
name: John
age: 20
c2
name: May
age: 23

In [179]:
import re
txt = 'The rain in Spain'
x = re.findall('[a-c]', txt)
print(x)

['a', 'a']

In [183]:
import re
txt = 'The rain in Spain'
x = re.search('a', txt)
print(x.start())

5

In [185]:
import re
txt = 'The rain in Spain'
x = re.search('\s', txt)
print(x.start())

3

In [186]:
price = 1000
txt = f'The price is {price:,} dollars'
print(txt)

The price is 1,000 dollars